{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'change-password.css' %}">
</head>

<body>
    <h2>Change Password</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="align">
                <label for="username" class="text">Username: </label><br>
                <input type="text" name="username" class="field" required>
                <br><br>

                <label for="change-password" class="text">Old Password: </label><br>
                <input type="text" name="old_password" class="field" required>
                <br><br>

                <label for="change-password" class="text">New Password: </label><br>
                <input type="text" name="new_password" class="field" required>
                <br><br>

                <button type="submit" class="button">SUBMIT</button>
            </div>
        </div>
    </form>
</body>

</html>