{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login_page.css' %}">
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="center">
                <label for="username" class="text"><b>Username: </b></label><br>
                <input type="text" name="username" class="field" required>
                <br><br>

                <label for="password" class="text"><b>Password: </b></label><br>
                <input type="password" name="password" class="field" required>
                <br><br>

                <button type="submit" class="button">LOGIN</button>
            </div>
        </div>
    </form>
</body>

</html>